@CHARSET "UTF-8";

/*areaindex/otherindex(area)*/
select.select-word-10{width:138px;}
.searchbox8 th{width:80px;}

/*areainfo|otherinfo(area)*/
.cen{width:100%;}
.tab{width:100%;height:35px;overflow:hidden;margin:10px 0 10px 0;}
.layer_title{cursor:pointer;font-size:16px;width:150px;line-height:35px;text-align:center;float:left;background:#ccc;margin-right:10px;color:#fff;}
.hover{background:#5378BC;color:#fff;}
.layer_title2{padding-left:15px;font-size:14px;height:30px;line-height:30px;text-align:left;border:1px solid #ccc;border-left:none;border-right:none;background:#eee;overflow:hidden;}
.centent{padding:10px;overflow:hidden;}
.centent div{padding:5px 10px;float:left;cursor:pointer;border:1px solid #ccc;margin:3px;width:120px;overflow:hidden;}
.tabv,.active{display:none;}
#news{float:right;line-height:35px;text-decoration:none;}

.centent div.subwayline{width:80px;}
.cen .tabv1 .layer_title2 a{float:right;line-height:30px;text-decoration:none;padding-right:10px;}
.tabv2 .d{margin-top:60px;}
.tabv2{width:360px;height:300px;margin:0 auto;display:none;}
.tabv2 div{padding:10px 20px 10px 20px;font-size:16px;}
.tabv2 .div{text-align:center;}
.tabv2 input{width:200px;height:30px;}
.tabv2 select{height:30px;width:200px;}
.tabv2 input[type='button']{width:95px;}
#savestation{display:none;}
.span{display:inline-block;width:90px;}
.backs{margin-left:10px;}
.subwayline,.stations{position:relative;}
.dels{display:none;position:absolute;top:1px;right:1px;background:none;width:20px;height:28px;line-height:28px;text-align:center;}
.cen .dels{color:#fff;text-decoration:none;}