@CHARSET "UTF-8";
.tipTitle {background:#fff7d2;color:#ff8000;font-size:.22rem;text-align:center;line-height:.26rem;padding:.15rem .4rem;}
.successbox {background:#fff;padding:.3rem .2rem;text-align:center;}
.successbox .text{font-size:.28rem;color:#06C70B;padding-top:.2rem;}
.infolist{background:#fff;margin-top:.16rem;padding:0 .3rem .3rem .3rem;}
.infolist li{position:relative;overflow:hidden;}
.infolist li .libox{line-height:.3rem;padding-top:.3rem;}
.infolist li .left-box{width:17%;display:inline-block;font-size:.24rem;color:#999;}
.infolist li .right-box{width:82%;display:inline-block;color:#333;font-size:.24rem;text-align:right;float:right;padding-left:.3rem;}
.btnArea{padding:.4rem .2rem;}
.btnArea .left, .btnArea .right{width:50%;margin:0 auto;}
.btnArea .btn{border-radius:5px;text-align:center;font-size:.28rem;border:1px solid #DEDEDE;padding:0.2rem .2rem;width:80%;margin:0 auto;color:#333;background: #FFFFFF;}
.successbox img{width: 56px;height: 67px;}
